.el-input__inner{
    border: none;
}
.el-input__inner:focus, .el-input.is-active .el-input__inner, .el-input__inner:focus, .el-select .el-input__inner:focus, .el-select .el-input.is-focus .el-input__inner{
    border: none;
}
.el-menu.el-menu--horizontal{
    border: none;
}
.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #e7a43c;
    color: #303133;
}
.el-menu-item.is-active {
    color: #e7a43c;
}
.flex{
    display: flex;
    justify-content: space-between;
}